<tr data-category-id="<%= category.id %>" class="category-<%= category.id %>">
  <td><i class="fa fa-chevron-right" hidden="true"></i> <%= category.strong_point %></td>
  <td class="category-name"><%= link_to category.name, admin_category_path(category), remote: true %></td>
  <td><a href="/<%= category.link %>"><%= category.link %></a></td>
  <td><%= link_to "#" do %>
      <i class="fa fa-plus"></i>
      Add product
    <% end %></td>
</tr>
